absl-py==2.0.0
aiohttp==3.8.1
aiosignal==1.2.0
altair==4.2.0
appnope==0.1.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
async-generator==1.10
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
backcall==0.2.0
backoff==2.0.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.10.0
bert-score==0.3.13
bleach==4.1.0
blinker==1.4
brotlipy==0.7.0
cached-property==1.5.2
cachetools==5.0.0
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1700303426725/work/certifi
cffi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/croot-2p6q7e2r/cffi_1642701115063/work
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.6
cryptography @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_b470f7cb-c8f1-42c9-b84f-23789ea77e7c9difcqh4/croots/recipe/cryptography_1652101134392/work
cssselect==1.1.0
cycler==0.11.0
datasets==2.3.2
datedelta==1.4
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.4
docopt==0.6.2
emoji==1.7.0
entrypoints==0.4
et-xmlfile==1.1.0
filelock==3.6.0
fonttools==4.38.0
frozenlist==1.3.0
fsspec==2022.2.0
fuzzywuzzy==0.18.0
gitdb==4.0.9
GitPython==3.1.27
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1641732946278/work
grapheme==0.6.0
greenlet==1.1.2
h11==0.13.0
h5py==3.6.0
huggingface-hub==0.16.4
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
importlib-metadata==4.11.3
importlib-resources==5.6.0
ipykernel==6.9.2
ipython==7.32.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
jdcal==1.4.1
jedi==0.18.1
Jinja2==3.1.1
joblib==1.1.0
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.1.0
kiwisolver==1.4.5
lxml==4.8.0
markdown-it-py==2.2.0
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.3
mdurl==0.1.2
mistune==0.8.4
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
multidict==6.0.2
multipledispatch==0.6.0
multiprocess==0.70.12.2
nbclient==0.5.13
nbconvert==6.4.5
nbformat==5.2.0
nest-asyncio==1.5.4
nltk==3.6.2
notebook==6.4.10
numpy==1.21.5
openai==0.28.1
openpyxl==2.4.11
outcome==1.1.0
packaging==21.3
pandas==1.3.5
pandas-stubs==1.2.0.58
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
portalocker==2.7.0
prometheus-client==0.13.1
prompt-toolkit==3.0.28
protobuf==4.24.4
psutil==5.9.0
ptyprocess==0.7.0
pyarrow==7.0.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydeck==0.7.1
Pygments==2.16.1
pyhtml2pdf==0.0.3
Pympler==1.0.1
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.7
pyquery==1.4.3
pyrsistent==0.18.1
PySocks @ file:///opt/concourse/worker/volumes/live/ef943889-94fc-4539-798d-461c60b77804/volume/pysocks_1605305801690/work
python-dateutil==2.8.2
python-Levenshtein==0.12.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
pyzmq==22.3.0
recognizers-text==1.0.2a2
recognizers-text-choice==1.0.2a2
recognizers-text-date-time==1.0.2a2
recognizers-text-number==1.0.2a2
recognizers-text-number-with-unit==1.0.2a2
recognizers-text-sequence==1.0.2a2
recognizers-text-suite==1.0.2a2
records==0.5.3
regex==2022.3.15
requests==2.28.0
responses==0.18.0
rich==13.6.0
rouge-score==0.1.2
sacrebleu==2.4.0
sacremoses==0.0.49
safetensors==0.4.0
scikit-learn==1.0.2
scipy==1.7.3
selenium==4.1.3
semver==2.13.0
Send2Trash==1.8.0
sentencepiece==0.1.97
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
SQLAlchemy==1.4.36
sqlparse==0.4.2
stanza==1.6.1
streamlit==1.23.1
sympy @ file:///Users/runner/miniforge3/conda-bld/sympy_1661297141684/work
tablib==3.2.1
tabulate==0.9.0
tenacity==8.2.3
terminado==0.13.3
testpath==0.6.0
threadpoolctl==3.1.0
timeout-decorator==0.5.0
tokenizers==0.13.3
toml==0.10.2
toolz==0.11.2
torch==1.13.1
tornado==6.1
tqdm==4.63.1
traitlets==5.1.1
transformers==4.30.2
trio==0.20.0
trio-websocket==0.9.2
typing_extensions==4.1.1
tzdata==2022.1
tzlocal==4.1
urllib3==1.25.11
validators==0.18.2
watchdog==2.1.7
wcwidth==0.2.5
webdriver-manager==3.5.4
webencodings==0.5.1
widgetsnbextension==3.6.0
word2number==1.1
wsproto==1.1.0
xxhash==3.0.0
yarl==1.7.2
zipp==3.7.0
